init.author.name = Marco Casula
init.author.email = marco.casula@gmail.com
init.author.url = https://41.studio

email=marco.casula@gmail.com
strict-ssl=false
always-auth=true
_auth=bWFyY286VGF6bWF5YTAx
